<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>Gabriel de Araújo</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/fotoDePerfil.jpg" alt="Foto de perfil">
            <h1>Gabriel de Araújo</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/gabriel-de-araújo-142302280/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/GabrielDeAraujo27" target="_blank"><i class="bi bi-github"></i></a>
            </div>
            <button name="changeLanguage" class="mt-4 text-center changeLanguageButton" onclick="changeLanguage()">
                Mudar Idioma</button>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#inicio" id="home"><i
                        class="bi bi-house-door"></i>
                    Início </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre"><i class="bi bi-person-fill" id="sobre"></i> Sobre </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#habilidades"><i class="bi bi-book inicio"></i> Habilidades </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Certificados"><i class="bi bi-journal"></i> Certificados </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Portfolio"><i class="bi bi-code-square"></i> Portfólio </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Contato"><i class="bi bi-envelope"></i> Contato </a>
              </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel de Araújo</h2>
                <span id="subtitle" class="text-white text-shadow">Programador</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Sou um programador iniciante apaixonado por tecnologia e aprendizado contínuo. Ao longo do tempo, concluí diversos cursos em áreas como Python, JavaScript, bancos de dados e desenvolvimento web, sempre buscando ampliar meu conhecimento e aprimorar minhas habilidades.
                        Estou constantemente estudando e me desafiando para crescer na área de programação e contribuir de forma significativa com projetos e soluções inovadoras.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/icon.jpg">
                </div>

                <div class="col-md-8">
                    <h3 class="contatoTitle">Estudante</h3>
                    <p>Atualmente no 4º período do curso de Ciência da Computação da Universidade do Estado do Rio de Janeiro</p>

                    <div class="row">
                        <div class="col-md-6">
                             <ul class="list-group list-group-flush fs-5">
                                 <li class="list-group-item">
                                     Gênero: <span class="fw-lighter">Masculino</span>
                                 </li>
                                 <li class="list-group-item">
                                     Aniversário: <span class="fw-lighter">22 de maio</span>
                                 </li>
                                 <li class="list-group-item">
                                     Idade: <span class="fw-lighter">21 anos</span>
                                 </li>
                                 <li class="list-group-item">
                                     Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                 </li>
                                 <li class="list-group-item">
                                     Estado: <span class="fw-lighter">Rio de Janeiro</span>
                                 </li>
                                 <li class="list-group-item">
                                     País: <span class="fw-lighter">Brasil</span>
                                 </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                             <ul class="list-group list-group-flush fs-5">
                                 <li class="list-group-item">
                                     Objetivo: <span class="fw-lighter">Busco me aprofundar em meus conhecimentos
                                 e me tornar um programador cada vez mais competente</span>
                                 </li>
                                 <li class="list-group-item">
                                     Idiomas falados: <span class="fw-lighter">Português e Inglês</span>
                                 </li>
                                 <li class="list-group-item">
                                     Linguagem de programação preferida: <span class="fw-lighter">Python</span>
                                 </li>
                                 <li class="list-group-item">
                                     <span class="fw-lighter"></span>
                                 </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3 mb-3">
                        <p></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>

                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 15%">15%</div>
                        </div>

                        <p class="mt-3 mb-0">C</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 5%">5%</div>
                        </div>

                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 20%">20%</div>
                        </div>

                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 15%">15%</div>
                        </div>

                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 20%">20%</div>
                        </div>

                        <p class="mt-3 mb-0">SQl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 15%">15%</div>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </section>

        <section id="Certificados" class="mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Certificados</h2>

                <div id="carouselCertificados" class="carousel carousel-dark slide">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/Santander-Ciencia-Dados-Python.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Santander Bootcamp 2023 - Ciência de Dados com
    Python</h5>
                                          <p class="card-text">
                                              <strong>Emitido por:</strong> Digital Innovation One (DIO) <br>
                                              <strong>Ano:</strong> 2023<br>
                                              <strong>Descrição:</strong> Abrangeu fundamentos de ciência de dados,
                                              manipulação de dados com Python, análise estatística
                                              e visualização utilizando bibliotecas como Pandas, NumPy e Matplotlib, com ênfase em projetos práticos.
                                          </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/Santander%20Bootcamp%202023%20-%20Ciência%20de%20Dados%20com/B5947C25.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/Potência-Tech-iFood-Programação-do-Zero.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Potência Tech iFood - Programação do Zero</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Digital Innovation One (DIO)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong></strong>
                                            <strong>Descrição:</strong> Focado em introdução à programação, abordou lógica de programação, algoritmos e fundamentos de linguagens como JavaScript, com atividades práticas voltadas ao desenvolvimento de soluções básicas.
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/Potência%20Tech%20iFood%20-%20Programação%20do%20Zero/85329578.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/Python3–Mundo1-300x300.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Python 3 - Curso em Video</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Curso em Vídeo (Gustavo Guanabara)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição:</strong> Curso completo sobre Python 3, abordando lógica de programação, estruturas de controle, manipulação de dados e introdução a bibliotecas, com foco em práticas reais e exercícios interativos.<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/tree/main/Python3%20(Curso%20em%20Video)" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="carousel-item">

                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/Curso-de-Python-3-do-básico-ao-avançado.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Curso de Python 3 do básico ao avançado - com projetos reais</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Udemy<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição: </strong>Curso abrangente que cobriu fundamentos de Python, estruturas de dados, programação orientada a objetos (POO), manipulação de arquivos, consumo de APIs e automação de tarefas. Incluiu a aplicação prática desses conhecimentos em projetos reais, focando na resolução de problemas do mundo corporativo.<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/Python3%20(Luiz%20O.%20Miranda)/UC-b5f30bfb-3cc1-439e-a903-c6781d50a83e.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/bancodedados-sql-300x300.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">MYSQL - Curso em Video</h5>
                                        <p class="card-text">
                                            <strong>Emitido por: </strong>Curso em Vídeo (Gustavo Guanabara)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição:</strong> Introdução ao MySQL, cobrindo conceitos fundamentais de bancos de dados relacionais, criação e manipulação de tabelas, consultas SQL e operações como filtros, junções e agrupamentos, com exemplos práticos aplicados.<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/MySQL%20(Curso%20em%20Video)/Gabriel-de-Araujo-MySQL-40-Horas-Certificado-Curso-em-Video.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/javascript-300x300.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Javascript - Curso em Video</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Curso em Vídeo (Gustavo Guanabara)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição:</strong> Curso introdutório e prático sobre JavaScript, abordando conceitos de lógica de programação, manipulação do DOM, funções, eventos e integração com HTML e CSS para criar páginas web interativas<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/Javascript%20(Curso%20em%20Video)/Gabriel-de-Araujo-Javascript-40-Horas-Certificado-Curso-em-Video.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/htmlcss-vip-mod1-circle-c2e334d1.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">HTML5 e CSS3 - Curso em Video</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Curso em Vídeo (Gustavo Guanabara)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição:</strong> Curso em desenvolvimento web, com foco em
                                            layout responsivo, técnicas avançadas de estilização, flexbox e boas práticas de estruturação semântica usando HTML5 e CSS3.<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/tree/main/HTML5-e-CSS3%20(Curso%20em%20Video)" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/git-1-circle-b469e86e38ebb09f48c.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Git e GitHub - Curso em Video</h5>
                                        <p class="card-text">
                                            <strong>Emitido por:</strong> Curso em Vídeo (Gustavo Guanabara)<br>
                                            <strong>Ano:</strong> 2023<br>
                                            <strong>Descrição:</strong> Curso introdutório e prático sobre controle de versão com Git, abordando comandos essenciais, criação e gerenciamento de repositórios locais e remotos, além de integração e colaboração de projetos utilizando GitHub.<br>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/blob/main/Git-e-Github%20(Curso%20em%20Video)/Gabriel-de-Araujo-Git-e-GitHub-20-Horas-Certificado-Curso-em-Video.pdf" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <div class="card">
                                      <img src="../static/img/more.png" class="card-img-top" style="background-color: #FFF" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">And More...</h5>
                                        <p class="card-text"></p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GabrielDeAraujo27/Certificados/tree/main/Others" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                      </div>

                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCertificados" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselCertificados" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </section>

        <section id="Portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfólio" class="carousel carousel-dark slide">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfólio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfólio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="carousel-item">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card">
                                  <img src="../static/img/placeholder.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Placeholder</h5>
                                    <p class="card-text">Ainda não há nada aqui</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://google.com" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfólio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfólio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="Contato">
            <div class="container mb-5">
                <h2 class="contatoTitle">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0 cardContato">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização</h4>
                                <p>Rio de Janeiro, RJ</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email </h4>
                                <p>Gabrieldearaujo321@gmail.com</p>
                            </div>

                            <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117526.87193813547!2d-43.59623845!3d-22.99751465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bef0baeaeecdf%3A0x334a9683450ee4d9!2sGuaratiba%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1729901059099!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3">
                              <div class="col-md-6">
                                <label for="nome" class="form-label">Nome: </label>
                                <input type="text" class="form-control" id="nome" name="nome"
                                       placeholder="Digite seu nome aqui">
                              </div>
                              <div class="col-md-6">
                                <label for="email" class="form-label">Email: </label>
                                <input type="password" class="form-control" id="email" name="email"
                                       placeholder="Digite seu email aqui">
                              </div>
                              <div class="col-12">
                                <label for="mensagem" class="form-label">Mensagem</label>
                                <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                          placeholder="Digite sua mensagem aqui"> </textarea>
                              </div>
                              <div class="col-12 d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                Desenvolvido por <strong>Gabriel de Araújo</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>